.sublist { list-style-type: none;
font-style: italic;
padding-bottom: 25px;
}

html {
  background-color:rgba(137, 223, 137, 0.747);
}

.major {
  text-align: center;
  background-color: #f7a223c2;
  box-shadow: 10px, 10, 15px, black;
}

.experience {
  background-color: lightgrey;
  padding: 5px;
}